<%- title "movies" -%>
<h2>
	<%=image_tag('/images/icon_dvds.png') %> <%= link_to @collection.collection_title, edit_collection_url %>
</h2>

<%- unless @movies.nil? -%>

	<% for movie in @movies %>

		<%= show_movie movie %>
	
	<% end %>

<%- end -%>