log/*.log
tmp/**/*
.DS_Store
doc/api
doc/app

# we dont wanna have an database.yml in the repository
config/database.yml

# we don't want to keep track of the uploaded images
public/uploads/photos/**/*
public/uploads/photos/*
