<%= javascript 'sortable' %>
<% title "index" %>

<h3>
	Movie List
</h3>

<p style="float: right;">
	<%= link_to 'toggle grouped user view', togglegroupedview_url %>
</p>

<%- if @user.show_grouped_by_user == true -%>

	<%- @movies_users.sort.each do |user, movies| -%>
	
		<%= index_table user, movies, @user.show_grouped_by_user %>
	
	<%- end -%>
	
<%- else -%>

	<%= index_table "All movies", @movies, @user.show_grouped_by_user %>

<%- end -%>